<main>
          

        <section id="donos">
                <h2>DONOS</h2>
                    <div id="prof">
                            
                        <div id="prof1">
                           
                                <img src="img/Sem Título-1.png" />
                                <p>Alexandre Fukaya 
                                    <br>
                                    Tecnico De Som</p>
                            
                        </div>
                        <div id="prof2">
                            <img src="img/cesar.png" />
                            <p>Cesar Sportore
                                <br>
                                Tecnico De Iluminação
                            </p>
                        </div>
                       
                    </div>
            </section>
       

        <section id="galeria">

<br>
            <h2>GALERIA</h2>
            <br>
            <div id="caixa">
                <br>
                <div id="fotos">
                    <img src="img/foto1.jpeg" >
                    <img src="img/foto2.jpg" >
                </div>
                <br>
                <div id="fotos2">
                    <img src="img/foto3.jpg" >
                    <img src="img/foto4.jpg" >
                </div>


            </div>
            <br>
        </section>

        <section id="regras">
            <h2>REGRAS DE LOCAÇÃO</h2>
            <br>
            <p>não mexer na coluna
                azul
                <br>
                não aceitamos eventos que
                contenham pirotecnia</p>
            <br>
            <h2>VALORES</h2>
            <br>
            <p>nossa diária custa apenas R$10,000
                <br>
                som e iluminação ficam a critério do
                cliente ,
                <br> mas podemos fornecer tal
                coisa com um acrecimo de R$500,00 na diária. </p>
            <br>
        </section>
    </main>

